<ul>
<% @tasks.each do |task| %>
  <li><%= task.description %> <small><%= task.completed %></small><%= link_to "Delete", task_path(task), method: :DELETE %></li>
<% end %>
</ul>
<body>

  <span id="tasks-display">
    <h1>Checklist</h1>
  </span>

  <section class="content-left">
    <aside>
      <div class='side-items'>
        <p><%= link_to "New Task", new_task_path %></p>
        <p>Save changes</p>
        <p class="read-more">Welcome Admin</p>
      </div>
    </aside>

    <article>
    </article>

  </section>

</body>
